.horizontal-collapse {
height: 70px;
}
.navbar-collapse.in {
overflow-y: hidden;
}

///////////////////////*

        Body

*//////////////////////

#collumn{
    padding-right: 5%;
    padding-left: 5%;
}

///////////////////////*

        Navigation

*//////////////////////

.navbar{
    height: 10% !important;
}



/*
.jumbotron{
    max-width: 1000px;
}
*/
